# LaTeX auxiliary files
*.aux
*.bbl
*.blg
*.brf
*.lof
*.log
*.lot
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz
*.nav
*.snm
*.vrb
*.xdv
*.pdf
*.dvi
*.ps
*.eps
*.gz
*.backup
*.run.xml
*.bcf
*.acn
*.glo
*.gls
*.ist
*.xdy
*.alg
*.glg
*.glsdefs
*.thm
*.idx
*.ilg
*.ind
*.loa
*.lol
*.lsg
*.tmp
*.tex~
*.bak
